<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <!-- <img class="img-fluid" src="<%= post.image%>" /> -->
      <h4>Company link:</h4>
      <a href="<%= post.companylink%>" ><%= post.companylink %></a>
      <h4>Position Link:</h4>
      <a href="<%= post.companylink%>"><%= post.joblink %></a>

      <h3>Owner's Information:</h3>
      <div class="row justify-content-between">

        <%if(post.user == user.id){ %>
          <div class="mb-3">
            <h4><label for="contacts">Contacts:</label></h4>
            <p id="contacts"><%= post.contacts %></p>
            <h4><label for="notes">Notes:</label></h4>
            <p id="notes"><%= post.notes %></p>
          </div>

        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <form
          action="/post/editPosition/<%= post.id %>?_method=PUT"
          method="POST"
          class="col-6"
        >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <%= post.title %>
          <input type="text" class="form-control" id="newtitle" name="newtitle">
        </div>
        <div class="mb-3">
          <label for="companylink" class="form-label">Company Link</label>
          <textarea class="form-control" id="companylink" name="companylink" value="<%= post.companylink %>"></textarea>
        </div>
        <div class="mb-3">
          <label for="joblink" class="form-label">Job Link</label>
          <textarea class="form-control" id="joblink" name="joblink"></textarea>
        </div>
        <div class="mb-3">
          <label for="contacts" class="form-label">Contacts</label>
          <textarea class="form-control" id="contacts" name="contacts"></textarea>
        </div>
        <div class="mb-3">
          <label for="notes" class="form-label">Notes</label>
          <textarea class="form-control" id="notes" name="notes"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Edit this Position</button>
      </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">

        <div>    
          <h6 ><label for="createdAt">Freshness Dated:</label></h6>
          <h5><%= post.createdAt.toDateString() %></h5>
        </div>
        <div>
          <h6 ><label for="status">Status:</label></h6>
          <h5><%= post.status %></h5>
        </div>
      </div>

    <!-- Navigation Buttons -->
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/position">Add a New Position</a>
      <a class="btn btn-primary" href="/hitlist">Return to HitList</a>
      
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
